body{background-color:yellow;background-image:url(css.jpg);background-attachment:scroll;}
h1{background-image:url(css2.jpg);color:blue;text-shadow:yellow;background-color:pink;}
h3{color:green;background-color:orange;}
p{color:red:green;}
marquee{color:black;background-color:white;}	